{% extends "base.html.twig" %}

{% block title %}Modifier un vacataire
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="mt-4">Modifier le vacataire</h1>

		{{ form_start(form) }}

		<div class="row">
			<div class="form-error">
				{{ form_errors(form.nom) }}
			</div>

			{{ form_label(form.nom) }}
			{{ form_widget(form.nom) }}

			<div class="row">
				{{ form_row(form.submit, {'label': 'Enregistrer les modifications'}) }}
			</div>
		</div>

		{{ form_end(form) }}
	</div>
{% endblock %}
